@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/043/516/original/weather-app-background.jpg?1660416244');
  background-size: cover;
  background-repeat: no-repeat;

}

button .celsius {
display: inline;
  
}

.city {
  margin-top: 10px;
  font-size: 40px;
}

.country {
  font-size: 22px;
  line-height: .9;
  margin-top: 0;
  padding-bottom: 10px;
}

.conditions {
  font-size: 30px;
  margin-top: 25px;
 
}

.current-conditions {
  font-size: 18px;
  text-transform: capitalize;
  padding-left: 40px;

}


.current-temp {
  font-size: 70px;
  line-height: 105%;
  font-weight: 300;
}

.search-area {
  padding: 3px;
}

a .get-current-location {
  color: black;
  text-decoration: none;
}

.get-current-location {
  padding: 9px 8px;
  background: #ced4da;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  transition: all 200ms ease-in-out;

}

.get-current-location:hover {
 border: 1px solid #ced4da;
 background: #abadb6;

}

.date {
  font-size: 17px;
  font-weight: 400;
  
}


div.col {
  padding: 5px;
}

.details {
  font-size: 15px;
  padding-left: 45px;
  margin: 0 auto;
  list-style-type: none;
  line-height: 160%;
}

.details-1 {
  margin-top: 75px;
}

button .fahrenheit {
  display: inline;

}

.footer {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
  font-family: 'PT Mono', monospace;
  font-size: 14px;
  padding-top: 5px;

}


.hi-low-main {
 text-indent: 5px;
 font-size: 18px;
 font-weight: 300;
}


.hi-temp-day,
.low-temp-day {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: rgba(62, 62, 62, 0.648);
  padding: 0;
}

.hi-temp-main {
  font-weight: 700 !important;
 
}

.hi-temp-day {
  font-weight: 700 !important;
  margin-bottom: 5px;
}


.main-card {
  max-width: 500px;
  display: block;
  margin: 40px auto;
  box-shadow: 5px 5px 9px 6px rgba(29, 134, 222, 0.2);
  background: rgba(255, 255, 255, 0.501);
  margin-bottom: 0;

}

.main-icon {
  height: 60px;
  position: absolute;
  left: -5px;
  top: 210px;
 
}

.main-degree-symbol {
  font-size: 70px;
  line-height: 105%;
  font-weight: 300;
  
}


.search {
height: 40px;
width: 12em;
border-radius: 5px;

}

.search-btn {
  height: 40px;

}

.search input:focus {
 
  border: .5px solid blue;
}


.unit-fahrenheit {
  position: relative;
  top: -25px;
  font-size: 18px;
  padding: 0;
  border: none;
  width: 20px;
  background: transparent;
}

.unit-celsius {
  position: relative;
  left: -25px;
  font-size: 18px;
  padding: 0;
  border: none;
  width: 20px;
  background: transparent;

}

.weather-forecast-day {
  text-align: center;
}

.forecast-title-main {
  font-size: 20px;
  color: rgba(62, 62, 62, 0.8);
  margin-bottom: 20px;
  text-indent: 5px;
}

.forecast-title-day {
  font-size: 15px;
  color: rgba(62, 62, 62, 0.648);
  margin-bottom: 0;
}

.forecast-day-icon {
  max-width: 50px;
  margin-bottom: 10px;
}




