@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

button .celsius {
display: inline;
  
}

.city {
  margin-top: 10px;
  font-size: 40px;
}

.country {
  font-size: 22px;
  line-height: .9;
  margin-top: 0;
  padding-bottom: 10px;
}

.conditions {
  font-size: 30px;
  margin-top: 25px;
 
}

.current-conditions {
  font-size: 18px;
  text-transform: capitalize;
  padding-left: 40px;

}


.current-temp {
  font-size: 70px;
  line-height: 105%;
  font-weight: 300;
}

.current-location-button {
  display: inline;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background: #e5ebf0;
  position: absolute;
  height: 40px;
  width: 35px;

}

.current-location-button:hover {
 border: 3px solid #ced4da;
 background: #d7dde3;
 transition: all 200ms ease-in-out;
}

.date {
  font-size: 17px;
  font-weight: 400;
  
}



.day-divider {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

div.col {
  padding: 5px;
}

.details {
  font-size: 15px;
  padding-left: 50px;
  margin: 0 auto;
  list-style-type: none;
  line-height: 160%;
}

.details-1 {
  margin-top: 75px;
}

button .fahrenheit {
  display: inline;
  

}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'PT Mono', monospace;

}

.forecast-title {
  color: rgba(62, 62, 62, 0.648);
  font-size: 18px;
}



.hi-low-main {
 text-indent: 5px;
 font-size: 18px;
 font-weight: 300;
}


.hi-temp-day,
.low-temp-day {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: rgba(62, 62, 62, 0.648);
  padding: 0;
}

.hi-temp-main {
  font-weight: 700 !important;
 
}

.hi-temp-day {
  font-weight: 700 !important;
  margin-bottom: 5px;
}



.main-card {
  max-width: 600px;
  display: block;
  margin: 20px auto;
}

.main-icon {
  height: 60px;
  position: absolute;
left: -5px;
top: 210px;
 
}

.main-degree-symbol {
  font-size: 70px;
  line-height: 105%;
  font-weight: 300;
  
}


.search {
height: 40px;
position: relative;
left: 40px;
}

.search-btn {
  height: 40px;
  position: relative;
  left: 30px;
}

.search input {
  height: 40px;
  
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.small-card .emoji {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

.unit-fahrenheit {
  
  position: relative;
  top: -25px;
  font-size: 18px;
  padding: 0;
 border: none;
  width: 20px;
  background: transparent;
}

.unit-celsius {
  position: relative;
  left: -25px;
  font-size: 18px;
  padding: 0;
 border: none;
  width: 20px;
  background: transparent;

}

.weather-forecast-day {
  text-align: center;
}

.forecast-title-main {
  font-size: 20px;
  color: rgba(62, 62, 62, 0.8);
  margin-bottom: 20px;
}

.forecast-title-day {
  font-size: 15px;
  color: rgba(62, 62, 62, 0.648);
  margin-bottom: 0;
}

.forecast-day-icon {
  max-width: 50px;
  margin-bottom: 10px;
 
}

.vl {
  border-right: 1px solid #dee2de;

}


